.react-datepicker__header {
  background-color: transparent;
  margin-top: 20px;

  border: transparent;
}
.react-datepicker {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 680px;
  height: 500px;
  border: transparent;
  border-radius: 15px;
  padding: 23px;
  font-size: 20px;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 40%);
  transform: scale(1.3) translate(-61%, 13%);
  /* transform: scale(1.4) translate(-57%, 16%); */
}

.react-datepicker__month-container {
  padding-left: 50px;
}
.react-datepicker__current-month {
  font-size: 25px;
  padding-bottom: 55px;
  word-spacing: 10px;
}
.react-datepicker__month {
  line-height: 3;
}
.react-datepicker__day--weekend {
  color: red;
}
